option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: device_portal.wsgi:application

  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: device_portal.settings
    PYTHONPATH: /var/app/current:${PYTHONPATH}

container_commands:
  01_copy_db:
    command: "cp /var/app/staging/db.sqlite3 /var/app/current/db.sqlite3 || true"